<div class="grid-container">
  <% @restaurants.each do |restaurant| %>
      <div class="grid-item">
        <%= link_to restaurant_path(restaurant) do %>
          <div class="custom-card-index">
              <%= image_tag "adress.svg", height:24, class:'icon-sm me-auto' %>
              <h5 class="restaurant-title mt-2"><%= restaurant.name %></h5>
              <p class="restaurant-adress"><%= restaurant.address %></p>
              <p class="restaurant-type"><%= restaurant.category %></p>
          </div>
        <% end %>
      </div>
  <% end %>
</div>
