<div class="custom-card">
  <%= image_tag "adress.svg", height:46, class:'icon-sm me-auto' %>
  <h3 class="restaurant-title mt-3"><%= @restaurant.name %></h3>
  <p class="restaurant-address mb-0"><%= @restaurant.address %></p>
  <p class="restaurant-food-type"><%= @restaurant.category %></p>
  <div class="action-row">
    <div class="action-button">
      <%= link_to restaurants_path  do %>
        <%= image_tag "back.svg", height: 46, class: 'icon-sm' %>
        Back
      <% end %>
    </div>
    <div class="action-button ms-3">
      <%= link_to new_restaurant_review_path(@restaurant)  do %>
        <%= image_tag "review.svg", height: 46, class: 'icon-sm' %>
        Create Review
      <% end %>
    </div>
  </div>
</div>
<% if @restaurant.reviews %>
  <div class="custom-card mt-3">
    <% @restaurant.reviews.each do |review| %>
      <div class="d-block my-4 review">
        <div class="stars mb-2">
          <% review.rating.times do %>
            <%= image_tag "star.svg", class:'star', height: 8 * review.rating %>
          <% end %>
        </div>
        <p><%= review.content %></p>
      </div>
    <% end %>
  </div>
<% end %>
