<div class="custom-card">
  <h4>Create a review for <%= @restaurant.name %></h4>
  <div class="mt-4">
    <%= simple_form_for [@restaurant, @review] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating %>
      <%= f.button :submit, class: 'btn' %>
    <% end %>
  </div>
</div>
